<!DOCTYPE html>
<html lang="{@:env('lang.default_lang', config('lang.default_lang'))}">
<head>
    <meta charset="utf-8" />
    <title>登录</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {@:token_meta()}
    {@include file="layout/_style"}
</head>

<body class="authentication-bg">

<div id="app" v-cloak>
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center w-75 m-auto">
                                <a href="/">
                                    <span><img src="__StaticVertical__/assets/images/logo.png" alt="" height="22"></span>
                                </a>
                            </div>

                            <form>
                                <div class="form-group mb-3">
                                    <label for="username">用户名</label>
                                    <input class="form-control" type="text" id="username" placeholder="请输入用户名" v-model="loginForm.username">
                                </div>

                                <div class="form-group mb-3">
                                    <a href="javascript:void(0);" class="text-muted float-right"><small>忘记密码</small></a>
                                    <label for="password">密码</label>
                                    <input class="form-control" type="password" id="password" placeholder="请输入密码" v-model="loginForm.password">
                                </div>

                                <div class="form-group mb-3">
                                    <label for="captcha">验证码</label>
                                    <input class="form-control" type="text" id="captcha" placeholder="请输入密码" v-model="loginForm.captcha" @keyup.enter="onSubmitLogin" autocomplete="off">
                                </div>

                                <div class="form-group mb-3">
                                    <img :src="captchaSrc" alt="captcha" class="img-fluid rounded img-thumbnail" @click="refreshCaptcha">
                                </div>

                                <div class="form-group mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="remember" v-model="loginForm.remember">
                                        <label class="custom-control-label" for="remember">记住我 (7天内免登陆)</label>
                                    </div>
                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary btn-block"
                                            v-loading="loading"
                                            @click="onSubmitLogin" type="button"> 登录 </button>
                                </div>

                            </form>
                        </div>
                    </div>

                    <!--<div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted">还没有账号? <a href="pages-register.html" class="text-dark ml-1"><b>注册</b></a></p>
                        </div>
                    </div>-->

                </div>
            </div>
        </div>
    </div>
</div>


{@include file="layout/_vue-script"}
<script>
    const vm = new Vue({
        el: '#app',
        data() {
            return {
                loginForm: {
                    username: '',
                    password: '',
                    captcha: '',
                    remember: false,
                },
                captchaSrc: 'captcha.html',
                loading: false,
            }
        },
        methods: {
            // 提交登录
            onSubmitLogin() {
                this.loading = true;
                // 刷新验证码
                this.refreshCaptcha();
                axios.post("{@:url('login')}", this.loginForm)
                .then(response => {
                    let data = response.data;
                    if(data.code !== 1) {
                        this.$message.error(data.message);
                        this.loading = false;
                        return ;
                    }
                    this.$message.success(data.message);
                    setTimeout(()=>{
                        window.location.href = data.url;
                    }, 1000);
                    setTimeout(() => {
                        this.loading = false;
                        this.$message.error("登录超时, 请刷新");
                    }, 5000);
                })
                .catch(error => {
                    this.loading = false;
                    this.$message.error("登录失败");
                });
            },
            // 刷新验证码
            refreshCaptcha() {
                let captchaSrc = this.captchaSrc,
                    count = captchaSrc.indexOf('?'),
                    end = count >= 0 ? count : captchaSrc.length;
                captchaSrc = captchaSrc.substring(0, end);

                this.captchaSrc = captchaSrc+'?'+Math.random();
            }
        },
    });
</script>
{@include file="layout/_other-script"}
</body>
</html>