<!doctype html>
<html lang="{@:env('lang.default_lang', config('lang.default_lang'))}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {@:token_meta()}
    <title>
        {@block name="title"}{@$title|default='管理中心'}{@/block}
    </title>
    {@include file="layout/_style"}
    <!--自定义样式-->
    {@block name="style"}{@/block}
</head>
<body>
<!-- 主体内容 -->
<!--<div id="wrapper">-->
<div id="app" v-cloak>
    {@include file="layout/_sidebar"}
    <div class="content-page">
        <div class="content">
            {@include file="layout/_header"}
            <!-- Start Content-->
            <div class="container-fluid">
                {@include file="layout/_pagetitle"}
                {@block name="content"}{@/block}
            </div>
        </div>
        {@include file="layout/_footer"}
    </div>
</div>
<!--</div>-->
<!-- 主体内容 end -->
{@include file="layout/_vue-script"}
{@block name="vue-script"}
<script>
    const vm = new Vue({
        el: '#app',
        data: {
            // fullscreenLoading: false,
        }
    });
</script>
{@/block}
{@include file="layout/_other-script"}
{@block name="script"}{@/block}
</body>
</html>